/* ### RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ### UTILS */

.container {
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
}

.w-25 {
  width: 25%;
}

/* ### PAGE */

/* ## HEADER */

.header {
  height: 80px;

  /* debug */
  background-color: #3161e0;
}

.header > .container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header > .container > * {
  flex-basis: 200px;
  padding: 10px;
}

.header__logo {
  height: 60px;
  display: flex;
  align-items: center;
}

.header__nav ul {
  text-align: center;
  list-style: none;
}

.header__nav li {
  display: inline-block;
  padding: 10px 20px;
}

li a {
  text-decoration: none;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header > .container > .header__nav {
  flex-grow: 1;
}

.header__login {
  display: flex;
  justify-content: flex-end;
}

.header__login a button {
  padding: 8px 17px;
  border-radius: 20px;
  border-style: none;
  font-weight: 600;
}

/* ## JUMBOTRON */

.jumbotron {
  padding: 3rem 0;
  background-image: url(../img/jumbo.png);
  background-size: cover;
}

.jumbotron .jumbotron__content {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  height: 450px;
}

h1 {
  color: white;
  font-size: 52px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 40px;
  margin-top: 10px;
}

.jumbotron .jumbotron__content p {
  color: white;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 15px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.jumbotron .jumbotron__content .button-l {
  padding: 18px 40px;
  border-radius: 36px;
  border-style: none;
  font-size: 18px;
  color: rgb(35 39 42);
  font-weight: 600;
  margin-left: 15px;
  margin-right: 15px;
}

.jumbotron .jumbotron__content .button-r {
  padding: 18px 36px;
  border-radius: 36px;
  border-style: none;
  font-size: 18px;
  font-weight: 600;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #23272a;
  color: white;
}

.jumbotron .jumbotron__content .button-l .gg-arrow-down {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  display: inline;
  color: rgb(35 39 42);
}

.jumbotron .jumbotron__content .button-l span {
  color: rgba(255, 255, 255, 0);
}

/* ## ROWS SECTION */

main > section {
  padding: 6rem 0;
}

main > section:nth-of-type(odd) {
  background-color: white;
}

main > section:nth-of-type(even) {
  background-color: #d3d3d3;
}

main > section > .container {
  display: flex;
}

main > section:nth-of-type(even) > .container {
  flex-direction: row-reverse;
}

main > section .col-big,
main > section .col-small {
  height: 600px;
  /*   debug
  border: 2px dashed black; */
}

main > section .col-big {
  flex-basis: 55%;

  /*   debug
  background-color: #1e90ff; */
}

main > section .col-small {
  flex-basis: 45%;

  /*   debug
  background-color: #ffc0cb; */
}

h2 {
  color: rgb(35 39 42);
  font-size: 45px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-top: 30px;
  padding-bottom: 25px;
}

p {
  color: rgb(35 39 42);
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main > .download > .container {
  display: block;
}

main > .download .col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 950px;
  /*   debug
  background-color: #228b22;
  border: 2px dashed black; */
}

h4 {
  color: rgb(35 39 42);
  font-size: 26px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-top: 30px;
  padding-bottom: 25px;
  background-image: url(../img/stars.svg);
  width: 500px;
  align-self: center;
}

main > .download .button-l {
  background-color: rgb(142 161 225);
  padding: 18px 40px;
  border-radius: 36px;
  border-style: none;
  font-size: 18px;
  color: white;
  font-weight: 600;
  margin-left: 15px;
  margin-right: 15px;
}
main > .download .col .button-l .gg-arrow-down {
  box-sizing: border-box;
  color: white;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  display: inline;
}

main > .download .col .button-l span {
  color: rgb(142 161 225);
}

/* ## FOOTER */

.footer {
  background-color: #23272a;
  padding-top: 10px;
}

.footer .upper-footer {
  display: flex;

  padding-bottom: 2rem;
  border-bottom: 1px solid white;
  margin-bottom: 2rem;
}

/* SMALL COLUMN */
.footer .upper-footer > .col-small {
  width: 30%;

  /*   debug
  height: 500px;
  background-color: #f08080;
  border: 2px dashed black; */
}

.footer .upper-footer > .col-small h3 {
  color: hsl(226.73deg 58.43% 65.1%);
  font-size: 34px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-top: 30px;
  padding-bottom: 20px;
}

.col-small .language #flag {
  width: 27px;
  height: 18px;
  margin: 4px;
}

.col-small .language div {
  display: inline-block;
  color: white;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
}

.col-small .language .arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-left: 7px;
  margin-bottom: 5px;
}

.col-small .language .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.col-small .logo-small {
  width: 20px;
  height: 15px;
  margin: 4px;
}

.footer .upper-footer > .col-big {
  width: 70%;
  display: flex;

  /* debug */
  height: 500px;
  background-color: #20b2aa;
  border: 2px dashed black;
}

.footer .col-big > .w-25 {
  border: 2px dashed white;
}

.footer .bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* debug */
  height: 100px;
  background-color: #7fffd4;
}

.bottom-footer > .logo,
.bottom-footer > .button {
  padding: 5px 10px;

  /* debug */
  background-color: #fdb5bf;
  border: 2px dashed black;
}
